body {
    padding: 50px;
    max-width: 940px;
    margin: 2em auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}

h3 {
    display: block;
    width: 100%;
}

.description {
    display: inline-block;
    width: 45%;
}

@media (max-width: 540px) {
    .description {
        width: 100%;
    }
}

#plot1,
#plot2,
#plot3 {
    width: 414px;
    height: 736px !important;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 40px;
    background-image: url("noise.png");
}

#plot1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 600;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#plot1 span {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#plot1 #stroke {
    mix-blend-mode: multiply;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3513c1;
    width: 100%;
    height: 100%;
    letter-spacing: -0.04em;
    font-size: 22em;
    line-height: 0.85em;
}

#plot1 #fill {
    background-color: #3513c1;
    position: absolute;
    bottom: 0;
    mix-blend-mode: exclusion;
    width: 100%;
    display: flex;
}

#plot1 .minute {
    color: #fff;
    mix-blend-mode: exclusion;
    font-size: 40px;
    margin: 0.51em 0.4em;
    line-height: 1px;
}

#plot2 canvas,
#plot3 canvas {
    width: 100%;
    height: 100%;
}

#plot2 {
    background-color: #000000;
    color: #fff;
    padding: 2em 1em;
    font-family: 'Helvetica Neue';
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.35em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#plot3 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

#plot3 span {
    width: 100%;
}

#plot3 #circle {
    width: 10em;
    height: 10em;
    margin: 1em;
    border-radius: 100%;
}

.sketches img {
    width: 100%;
}
