body {
    padding: 50px;
}

#mobile1,
#mobile2 {
<<<<<<< HEAD
    width: 414px;
    height: 736px;
=======
    width: 375px;
    height: 812px;
>>>>>>> project-2
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    overflow: scroll;
}

<<<<<<< HEAD
#mobile1 img,
#mobile2 img {
    width: 100%;

=======
#mobile1 {
    color: #fff;
    background: linear-gradient(to bottom, #4D2BFF, #56CEFF);
    font-family: "proxima-nova", 'Montserrat', sans-serif;
    overflow: hidden;
}

#mobile1 .today {
    text-transform: uppercase;
    text-align: center;
    padding: 5.5em 1em 1em;
}

#mobile1 #sun {
    width: 8.2em;
    height: 8.2em;
    border-radius: 100%;
    background: linear-gradient(to bottom, #FF3B5D, rgb(255, 96, 133), rgba(255, 128, 133, 0.69), rgba(255, 182, 170, 0));
    margin-bottom: -70px;
}

#mobile1 .today h1 {
    letter-spacing: 0.5em;
    font-size: 1.5em;
    font-weight: 100;
    margin-right: -0.5em;
}

#mobile1 .todayTemp {
    font-weight: 200;
    font-size: 4.5em;
    display: inline-block;
    margin-left: 0.8em;
    letter-spacing: 0.15em;
}

#mobile1 .today h4 {
    font-weight: 100;
    display: inline-block;
}

#mobile1 .today .c {
    opacity: 0.3;
    letter-spacing: 0.2em;
}

#mobile1 .charles {
    background: linear-gradient(to right, rgb(0, 0, 95), #5A82F9);
    height: 33%;
    margin-top: -7px;
    position: relative;
}

#mobile1 .reflection {
    position: absolute;
    transform: rotate(180deg);
    mix-blend-mode: soft-light;
    opacity: .5;
    -webkit-filter: blur(6px);
    /* Safari 6.0 - 9.0 */
    filter: blur(6px);
}

#mobile1 img,
#mobile2 img {
    height: 100%;
>>>>>>> project-2
}
